<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/style.css">
</head>
<body>
    

    <header class="bg-indigo-400 h-28 flex justify-center items-center">
        <h1 class="text-center text-white text-4xl tracking-1 font-semibold">BINDER</h1>
    </header>

    <main>
        <p class="text-center my-3 text-md font-bold">Jadwal terkini</p>
        
        <section class="flex justify-center items-center flex-col">
            <div class="w-11/12 mt-2  h-36 bg-indigo-400 shadow-md rounded-md">
                <div class="flex justify-end mr-3 my-1">
                    <button onclick="popUp()" class="text-4xl w-10 h-5 items-center justify-center flex">•••</button>
                </div>
                <div class="flex justify-between mx-3 my-1 text-white text-md">
                    <p class="">07.00</p>
                    <p class="">05/Juni/2003</p>
                </div>
                <div class="flex justify-center my-1 items-center">
                    <div class="mx-3 w-full md:w-96 bg-slate-200 px-2 py-2 h-20 overflow-hidden">
                        <h1 class="text-2xl font-bold truncate">Ulangan tengah semester 1</h1> <!-- Bataskan input sebanyak 25 huruf-->
                        <h6 class="text-sm break-words">Lorem ipsum, dolor sit amet consectetur adipisicin</h6><!-- Bataskan input sebanyak 50 huruf-->
                    </div>
                </div>
                
            </div>

            <div class="w-11/12 mt-5  h-36 bg-indigo-400 shadow-md rounded-md">
                <div class="flex justify-end mr-3 my-1">
                    <button class="text-4xl w-10 h-5 items-center justify-center flex">•••</button>
                </div>
                <div class="flex justify-between mx-3 my-1 text-white text-md">
                    <p class="">07.00</p>
                    <p class="">05/Juni/2003</p>
                </div>
                <div class="flex justify-center my-1 items-center">
                    <div class="mx-3 w-full md:w-96 bg-slate-200 px-2 py-2 h-20 overflow-hidden">
                        <h1 class="text-2xl font-bold truncate">Ulangan tengah semester 1</h1> <!-- Bataskan input sebanyak 25 huruf-->
                        <h6 class="text-sm break-words">Lorem ipsum, dolor sit amet consectetur adipisicin</h6><!-- Bataskan input sebanyak 50 huruf-->
                    </div>
                </div>                
            </div>

            <div class="w-11/12 mt-5  h-36 bg-indigo-400 shadow-md rounded-md">
                <div class="flex justify-end mr-3 my-1">
                    <button class="text-4xl w-10 h-5 items-center justify-center flex">•••</button>
                </div>
                <div class="flex justify-between mx-3 my-1 text-white text-md">
                    <p class="">07.00</p>
                    <p class="">05/Juni/2003</p>
                </div>
                <div class="flex justify-center my-1 items-center">
                    <div class="mx-3 w-full md:w-96 bg-slate-200 px-2 py-2 h-20 overflow-hidden">
                        <h1 class="text-2xl font-bold truncate">Ulangan tengah semester 1</h1> <!-- Bataskan input sebanyak 25 huruf-->
                        <h6 class="text-sm break-words">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis minima eum ipsum porro possimus excepturi totam dolores maiores commodi voluptas?</h6><!-- Bataskan input sebanyak 50 huruf -->
                    </div>
                </div>
        </section>

        <p class="text-center my-3 text-md font-bold">Tambah jadwal</p>

        <section class="flex justify-center items-center my-5 flex-col">
            <div class="w-11/12 h-36 bg-green-500 flex justify-center items-center rounded-md">
                <a href="./add.html"><svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="78" height="100" fill="white">
                    <path d="m12 24a4 4 0 0 1 -4-4v-4h-4a4 4 0 0 1 0-8h4v-4a4 4 0 0 1 8 0v4h4a4 4 0 0 1 0 8h-4v4a4 4 0 0 1 -4 4z"/>
                </svg></a>
            </div>
        </section>
    </main>

    <section id="myPopup" class="fixed inset-0 hidden bg-opacity-75">
        <div class="flex justify-between flex-col">
            <button class="w-11/12 mt-5  h-36 bg-indigo-400 text-white px-4 py-2 rounded hover:bg-green-600">Edit</button>
            <button class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600">Delete</button>
        </div>
    </section>
    <!-- <div id="popupTemplate" class="fixed bg-opacity-75 bg-white shadow-lg rounded-md popup z-50">
        <div class="flex flex-col">
            <button class="w-full mt-5 h-12 bg-indigo-400 text-white px-4 py-2 rounded hover:bg-green-600">Edit</button>
            <button class="w-full mt-2 h-12 bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600">Delete</button>
        </div>
    </div> -->

    <footer class="bg-indigo-400 h-14 flex justify-center items-center flex-col">
            <h1 class="text-center text-white text-md tracking-1 font-semibold" id="time"></h1>
            <!-- <h1 class="text-center text-white text-sm font-normal" id="date"></h1> -->
    </footer>

    <script src="./js/main.js"></script>
</body>
</html>